<h1>Vehicles</h1>
<p *ngIf="auth.isAuthenticated()">
  <a [routerLink]="['/vehicles/new']" class="btn btn-primary">New Vehicle</a>  
</p>
<div class="well">
  <div class="form-group">
    <label for="make">Make</label>
    <select name="" id="make" class="form-control" [(ngModel)]="query.makeId" (change)="onFilterMakeChange()">
      <option value=""></option>
      <option *ngFor="let m of makes" value="{{ m.id }}">{{ m.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="model">Model</label>
    <select name="" id="model" class="form-control" [(ngModel)]="query.modelId" (change)="onFilterModelChange()">
      <option value=""></option>
      <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name }}</option>
    </select>
  </div>
  <button class="btn btn-default" (click)="onResetFilter()">Reset</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th *ngFor="let c of columns">
        <div *ngIf="c.isSortable" (click)="onSortBy(c.key)">
          {{ c.title }}
          <i *ngIf="query.sortBy === c.key" 
              class="fa"
              [class.fa-sort-asc]="query.isSortAscending"
              [class.fa-sort-desc]="!query.isSortAscending"
          ></i>
        </div>
        <div *ngIf="!c.isSortable">
          {{ c.title }}
        </div>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let v of queryResult.items">
      <td>{{v.id}}</td>
      <td>{{v.contact.name}}</td>
      <td>{{v.make.name}}</td>
      <td>{{v.model.name}}</td>
      <td><a [routerLink]="['/vehicles', v.id]">view</a></td>
    </tr>
  </tbody>
</table>
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)=onPageChange($event)></pagination>